@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

p {
  max-width: 60ch;
  line-height: 1.5;
}

h1 {
  margin: 2rem 0;
}
hr {
  margin: 0.7rem 0;
  height: 1px;
  border: none;
  background-color: hsl(240, 5%, 91%);
}

.something {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------
Card Layout
-------- */

.card-layout {
  width: 55rem;
  height: 28rem;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.column {
  flex: 45%;
}

/* --------
Image Layout
-------- */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.desktop {
  overflow: hidden;
  position: absolute;
  right: 90px;
  top: 30px;
  z-index: 0;
}
.shadow {
  right: 95px;
  position: absolute;
  top: -330px;
}

.box {
  position: relative;
  left: -113px;
  bottom: 319px;
}

.hidden {
  visibility: hidden;
  height: 1rem;
}

/* --------
FAQ text
-------- */
.text {
  margin-right: 5rem;
  margin-top: 3rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container:hover {
  cursor: pointer;
}

.question {
  font-size: 1rem;
  /* margin-top: 0.5rem; */
  font-weight: 400;
}
.question-active {
  /* font-size: 1rem; */
  font-weight: 700;
}
.answer {
  display: none;
  overflow: hidden;
}
.answer-active {
  display: block;
  animation: fade ease 0.9s;
}

.answer-inactive {
  display: block;
  animation: fadeOut ease 0.9s;
}

.arrow-container {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}
.arrow {
  transform: rotate(0deg);
  transition-duration: 1s;
}
.arrow-active {
  transform: rotate(180deg);
  transition-duration: 1s;
}

.row {
  display: flex;
}

/* --------
footer
-------- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* .mobile {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;

  background-color: rgb(176, 151, 151);
} */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 499px) {
  body {
    font-size: 1 px;
  }
  h1 {
    text-align: center;
  }
  .desktop-image {
    display: none;
  }

  .card-layout {
    padding: 1.2rem;
    margin: 1rem;
    flex-direction: column;
    width: 22rem;
    height: 36rem;
  }
  .text {
    margin-right: 0;
  }

  .column {
    flex: 100%;
  }
}
